[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "==1.14.3"
scipy = "==1.1.0"
pandas = "==0.23.0"
scikit-learn = "==0.19.1"
gunicorn = "==19.9.0"
click = "==6.7"
docutils = "==0.11"
itsdangerous = "==0.24"
Babel = "==0.9.6"
Flask = "==1.0"

[requires]
python_version = "3.6.0"
